/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* :root{
  display: flex;
}

body {
  height: 100vh;
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
  display: grid;
  grid-template-rows:  1fr auto;
}

h1 {
    margin-top: 30px;
}


.nav-bar{
  display: flex;
  align-items: center;
  width: 100%;
}

.react-img{
  margin-right: auto;
  width: 55px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  font-weight: bold;
  margin-left: auto;
  font-size: 1.1rem;
}

.main-content{
  height: 100%;
  flex: 1;
  font-size: 1.1rem;
  font-weight: bold;
}

.footer-sec{
  width: 100%;
  text-align: center;
  /* position: absolute;
  bottom: 0; */
  /* font-size: 1rem;
  font-weight: bold;
  background-color: #0b377a;
  padding: 5px;
} */ 


body{
  /* background-color: linear-gradient(135deg, rgb(57, 69, 124), rgb(25, 29, 51)); */
  background-color: #282D35;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  margin: 0;
  line-height: 100%;
}

.nav-bar{
  width: 100%;
  height: 91px;
  background-color: #21222A;
  /* border: 2px solid white; */
  display: flex;   
  align-items: center;
  padding-left: 30px 25px;

}

.react-img{
  width: 50px;
  height: 50px;
  margin: 10px;
}

.title{
  color:#61DAFB;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -5%;

}

.main-con{
  width: 100%;
  padding: 30px 45px;
  /* padding-left: 45px;
  padding-top: 30px; */
  color: white;
  /* background-image: url(/src/assets/reactjs-icon\ 2.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 65%; */
}

.main-con h1{
  font-size: 40px;
  margin-bottom: 30px;
}

.main-con ul{
  font-size: 400;
  max-width: 400px;
}

.main-con li{
  margin-bottom: 13px;
  margin-left: -5px;
}

.main-con li::marker{
  color: #61DAFB;
  font-size: 1.3rem ;
}

.react-my{
  width: 250px;
  height: 222px;
  position: sticky;
  transform: translate(32%, -50%);
  bottom: 50%;
  top: 50%;
  left: 100%;
}

.react-my .vector1{
  width: 75px;
  height: 75px;
  background-color: #33373E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.react-my .vector2{
  width: 130px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  background-color: transparent;
  border: 12px solid #33373E;
  border-radius: 50%;

}

.react-my .vector3{
  width: 130px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  background-color: transparent;
  border: 12px solid #33373E;
  border-radius: 50%;

}

.react-my .vector4{
  width: 130px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  background-color: transparent;
  border: 12px solid #33373E;
  border-radius: 50%;

}