body{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.header{
  width: 100%;
  height: 90px;
  margin: 0;
  background-color: #F55A5A;
  display: flex;              
  align-items: center;  
  justify-content: center;     
  padding: 0 20px;          
  box-sizing: border-box;
}

.header .globe{
  width: 35px;                
  height: 35px;               
  margin-right: 10px;        
}

.header h1{
  margin: 0;                 
  color: #fff;
  font-size: 1.4rem;
}

.entry{
  display:flex;
  margin: 20px;
  width: 100%;
  /*height: 190px;*/
  font-weight: bold;
  margin-bottom: 40px;
}

.entry img{
  width: 300px;
}

.entry_location{
  display: flex;
  align-items: center;
  font-size: 13.24px;
}

.entry_1 img{
  width: 13px;
}

.entry_1 span{
  margin-left: 5px;
}

.entry_1 span a{
  text-decoration: underline;
  color: #918E9B;
}

.entry_1{
  margin-left: 10px;
  padding: 5px;
}

.entry_1 h1{
  margin: 5px 0;
  font-size: 24px;
  color: #2B283A;
}

.entry_1 .date{
  font-weight: bold;
}

.entry_1 p{
  width: 90%;
  font-size: 14px;
  color: #2B283A;
  line-height: auto;
} 












/*  
.display{
  display: flex;
  flex-direction: row;
}

.contact-card{
  background-color: rgb(230, 230, 230);
  height: 400px;
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgb(75, 75, 75);

}

.cat-pic{
  width: 100%;
  height: 300px;
  margin-bottom: 0px;
}

.cat-pic h3{
  height: 7px;
  margin: 0;
}

.info-group-phone{
  display: flex;
  align-items: center;
  height: 20px;
}

.info-group-phone img{
  margin-left: 3px;
  width: 18px;
  height: 18px;
}

.info-group-phone p{
  margin-left: 6px;
}

.info-group-email{
  display: flex;
  align-items: center;
  height: 35px ;
}

.info-group-email img{
  width: 23px;
  height: 20px;
}

.info-group-email p{
  margin-left: 6px;
} */



