body{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.header{
  width: 100%;
  height: 90px;
  margin: 0;
  background-color: #F55A5A;
  display: flex;              
  align-items: center;  
  justify-content: center;     
  padding: 0 20px;          
  box-sizing: border-box;
}

.header .globe{
  width: 35px;                
  height: 35px;               
  margin-right: 10px;        
}

.header h1{
  margin: 0;                 
  color: #fff;
  font-size: 1.4rem;
}