body{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.header{
  width: 100%;
  height: 90px;
  margin: 0;
  background-color: #F55A5A;
  display: flex;              
  align-items: center;  
  justify-content: center;     
  padding: 0 20px;          
  box-sizing: border-box;
}

.header .globe{
  width: 35px;                
  height: 35px;               
  margin-right: 10px;        
}

.header h1{
  margin: 0;                 
  color: #fff;
  font-size: 1.4rem;
}

.entry{
  display:flex;
  margin: 20px;
  width: 100%;
  height: 168px;
  /* font-weight: bold; */
}

.entry_location{
  display: flex;
  align-items: center;
  font-size: 13.24px;
}

.entry_1 img{
  width: 13px;
}

.entry_1 span{
  margin-left: 5px;
}

.entry_1 span a{
  text-decoration: underline;
  color: #918E9B;
}

.entry_1{
  margin-left: 10px;
  padding: 5px;
}

.entry_1 h1{
  margin: 5px 0;
  font-size: 24px;
  color: #2B283A;
}

.entry_1 .date{
  font-weight: bold;
}

.entry_1 p{
  width: 90%;
  font-size: 14px;
  color: #2B283A;
  line-height: auto;
}